.container {
    max-width: 1000px;
    margin: 40px auto 0;
    text-align: center;
    border: 2px solid #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #4c7bd1;
}

p {
    font-size: 16px;
    color: #31b138;
}

ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

li {
    font-size: 16px;
    color: #9e9da5;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}